@{
    ViewBag.Title = "Chat";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body">
                    <ul class="chat"></ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-sm" id="btn-chat">
                                Send
                            </button>
                            <button class="btn btn-sm" id="btn-close">
                                close
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/soketFactory.utils.js"></script>
    <script src="~/js/chat.app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            app.chat.init();
        });
    </script>
    <!--SignalR script to update the chat page and send messages.-->
    <script id="message-template" type="x-tmpl-mustache">
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img src="{{Avatar}}" alt="User Avatar" class="img-circle">
            </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">{{Name}}</strong>
                </div>
                <p>
                    {{Message}}
                </p>
            </div>
        </li>
    </script>
}